.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  background: #0097fe;
  box-shadow: 0 0 5px rgba(214, 214, 214, 0.5);
  z-index: 50;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  color: #fff;
  font-weight: bold;

  span {
    font-size: 0.5em;
    font-weight: 400;
  }
}
